<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
    <h1>My Library</h1>
    {% if library %}
        <ul>
            {% for i in library %}
                <li>
                    <a href="{{ url_for('delete', id=i.id) }}">Delete</a>
                    {{ i.title }} - {{ i.author }} - {{ i.rating }}/10
                    <a href="{{ url_for('edit', id=i['id']) }}">Edit Rating</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Library is empty.</p>
    {% endif %}

    <a href="{{ url_for('add') }}">Add New Book</a>
</body>
</html>