{% extends "layout.html" %}

{% block title %}Fahad's Personal Website{% endblock %}

{% block body %}
    <table cellspacing="20">
        <tr>
            <td><img src="static/spiderman.png" width="200" alt="Fahad's Profile Picture"></td>
            <td>
                <h1>Md. Fahad Ibna Tuhin</h1>
                <p>Founder of <a href="https://www.google.com/" target="_blank">Fahad's Company</a> </p>
                <p>I am a Software Developer and Web Developer. I 💖 to eat noodles. </p>
            </td>
        </tr>
    </table>
    <hr>

    <h1>Books and Teachign</h1>
    <ul>
        <li>The Complete iOS APP Development Bootcamp</li>
        <li>The Complete Web Development Bootcamp</li>
    </ul>
    <hr>

    <h1>Work Experience</h1>
    <table cellspacing="20">
        <thead>
            <th>Dates</th>
            <th>Work</th>
        </thead>
        <tbody>
            <tr>
                <td>2009-2010</td>
                <td>Researcher at The Institute of Cognitive Neurosciences</td>
            </tr>
            <tr>
                <td>2009-2010</td>
                <td>Researcher at The Institute of Cognitive Neurosciences</td>
            </tr>
            <tr>
                <td>2009-2010</td>
                <td>Researcher at The Institute of Cognitive Neurosciences</td>
            </tr>
        </tbody>
    </table>
    <hr>

    <h1>Skills</h1>
    <table cellspacing="20">
        <tbody>
            <tr>
                <td>iOS Development</td>
                <td>⭐️⭐️⭐️⭐️⭐️</td>
            </tr>
            <tr>
                <td>Web Development</td>
                <td>⭐️⭐️⭐️⭐️⭐️</td>
            </tr>
            <tr>
                <td>Programming</td>
                <td>⭐️⭐️⭐️⭐️⭐️</td>
            </tr>
            <tr>
                <td>Photography</td>
                <td>⭐️⭐️⭐️</td>
            </tr>
        </tbody>
    </table>
    <hr>

    <a href="hobbies.html">Hobbies</a>
    <a href="contact.html">Contact Me</a>
{% endblock %}
